<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CAFEBRICCOマフィン計算機</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-title">
                CAFF BRICCO
            </div>
        </div>
    </div>
    <div class="main">
        <div class="display-wrapper">
            <div id="number-dis" class="dis number">
                <p>個数</p>
            </div>
            <div id="total-dis" class="dis total">
                <p>合計</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="btn-line a-line">
                <button class="btnA"><img src="https://storage.googleapis.com/staging.cafe-bricco-pj.appspot.com/1/2021/04/p_menu15.jpg" alt="#"><span class="btn">name</span></button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
            </div>

            <div class="btn-line b-line">
                <button class="btn pl"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
            </div>

            <div class="btn-line c-line">
                <button class="btn pl"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
            </div>

        </div>
    </div>
</body>

<div class="footer">

</div>

<script src="../app.js"></script>

</html>