<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CAFEBRICCOマフィン計算機</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-title">
                CAFF BRICCO
            </div>
        </div>
    </div>
    <div class="main">
        <div class="display-wrapper">
            <div class="dis number">
                <p>個数</p>
            </div>
            <div class="dis total">
                <p>合計</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="btn-line">
                <button class="btn pl"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
                <button class="btn ty"><img src="" alt="">name</button>
            </ul>
        </div>
    </div>
</body>

<div class="footer">

</div>

<script src="../app.js"></script>

</html>