<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CAFEBRICCOマフィン計算機</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-title">
                CAFF BRICCO
            </div>
        </div>
    </div>
    <div class="main">
        <div calss="display-wrapper">
            <div class="dis number">
                <p>個数</p>
            </div>
            <div class="dis total">
                <p>合計</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <ul calss="btn-line">
                <li class="btn pl"><a href="#">プレーン</a></li>
                <li class="btn ty"><a href="#">チョコ</a></li>
                <li class="btn ty"><a href="#">抹茶</a></li>
                <li class="btn ty"><a href="#">いちご</a></li>
            </ul>
        </div>
    </div>
</body>

<div class="footer">

</div>

</html>