* {
    margin: 0;
    padding: 0;
}

/* header */
body {
    font-family: "Avenir Next";
}

.header {
    height: 100px;
    background-color: rgb(133, 127, 127);
}

.header-title {
    color: white;
}

/* main */
.main {
    height: 500px;

}

.display-wrapper {
    height: 200px;
    border-bottom: 5px solid red;
    margin-bottom: 100px;
}

.number {
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: blue;

}


.total {
    position: relative;
    bottom: 100px;
    left: 300px;
    height: 100px;
    width: 500px;
    color: white;
    background-color: black;
    text-align: center;
}

.a-line {
    background-color: aquamarine;
}

.b-line {
    background-color: lightcoral;
}

.c-line {
    background-color: lightblue;
}

.btn-line {
    margin-bottom: 20px;
    /* 余白の設定 */
    overflow: hidden;
    /* 子要素の浮動解除 */
    /* ボタンの表示が枠からはみ出ているので,btnlineグループいまとめられなかった。hiddenを使うことでmarginのはみ出てるところが非表示にできる */
}

.btn {
    font-size: 24px;
    width: 10%;
    margin-right: 5%;
    float: left;
    background-color: white;
    color: black;
    text-align: center;
    border: 5px solid black;
    opacity: 0.8;
    position: relative;
}

.btn img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}

.btn:hover {
    opacity: 1;
}